<!DOCTYPE HTML>
<html>
<head></head>
<body>

<h2>Linky</h2>

<ul>
	<li><a href='/simple_feed.html'>Simple Embed Feed</a></li>
	<li><a href='/og_feed.html'>Open Graph Embed Feed</a></li>
	<li><a href='/buttons.html'>Buttons</a></li>
	<li><a href='/sdk.html'>Javascript SDK</a></li>
</ul>

<h2>More info <a href='http://myot.github.io/yammer-platform-demo/presentations/index.html'>here</a></h2>
</body>
</html>