<!DOCTYPE HTML>
<html>
<head></head>
<body>
    <script type="text/javascript" src="https://assets.yammer.com/assets/platform_embed.js"></script>
    <div id="embedded-feed" style="height:600px;width:800px;"></div> 
    <script>
        yam.connect.embedFeed(
        { 
          container: '#embedded-feed'
        });
    </script>
</body>
</html>